.mainComponent {
    -fx-background-color: #333;
}

.tab-pane {
    -fx-background-color: #555;
}

.tab-header-area {
    -fx-background-color: #444;
}

.tab {
    -fx-background-color: #555;
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: #666;
    -fx-text-fill: white;
}