.mainComponent {
    -fx-background-color: #e0e0e0;
}

.tab-pane {
    -fx-background-color: #f0f0f0
}

.tab-header-area {
    -fx-background-color: #444;
}

.tab {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

.tab:selected {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}