/* Set a dark background color for the entire application */
.NotificationAnchor {
    -fx-background-color: #e0e0e0;
}

.mainScrollPane {
    -fx-background-color: #f0f0f0;
}

/* Style buttons */
.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Style labels */
.label {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: black;
}

.Title{
    -fx-font-weight: bold;
}