.mainComponent {
    -fx-background-color: #333;
}

/* Set a lighter background color for individual containers */
.container {
    -fx-background-color: #444;
}

/* Style buttons */
.button {
    -fx-background-color: #666;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

/* Style labels */
.label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.combo-box {
    -fx-background-color: #555;
    -fx-text-fill: white;
}