.mainComponent {
    -fx-background-color: #e0e0e0;
}

/* Set a lighter background color for individual containers */
.container {
    -fx-background-color: #f0f0f0;
}

/* Style buttons */
.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}

/* Style labels */
.label {
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.combo-box {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI", sans-serif;
}