/* Set a dark background color for the entire application */
.mainComponent {
    -fx-background-color: #555;
}

/* Set a lighter background color for individual containers */
.container {
    -fx-background-color: #444;
}

.Message{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}