/* Set a dark background color for the entire application */
.mainComponent {
    -fx-background-color: #e0e0e0;
}

.Message{
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 24px;
}
