.mainComponent {
    -fx-background-color: #333;
}

/* Set a lighter background color for individual containers */
.container {
    -fx-background-color: #444;
}

/* Style labels */
.label {
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: white;
}

.expand-link {
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: white;
}
